img {
  max-width: 100%;
}

figure img {
  width: 100%;
  display: block;
}

/* FIRST SECTION */
.row {
  height: 100vh;
}

.aside {
  background-color: #f8f9fa;
}
.aside-section {
  height: 49px;
  background-color: #ffffff;
}

.logo {
  width: 34px;
  aspect-ratio: 1;
  border: 2px solid black;
}

.input-group,
.input-group-text {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.form-control {
  border: none;
  background-color: transparent;
}
.bell {
  color: orange;
}

/* MAIN HEADER */

.main-header {
  background-image: url('../img/sidebar-bg.png');
  background-color: #051e34;
  color: white;
  width: 70px;
}

.header-nav a,
.settings a {
  color: white;
}

.main-view {
  background-color: #f8f9fa;
}

/* MAIN VIEW */

/* STATUS BAR */

.status-bar {
  background-color: #1b72e8;
  color: white;
  height: 264px;
}

a {
  color: white;
}

.status-title,
.student-number {
  font-size: 30px;
}

.add-student {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  margin-left: 15px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .logo {
    border: none;
  }
  .status-bar {
    height: 134px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/* DEBUG */

.debug [class^='col'] {
  border: 1px solid greenyellow;
  padding: 10px;
}

.debug .aside-section {
  border: 1px solid greenyellow;
  padding: 10px;
}

.debug .aside-section {
  border: 1px solid greenyellow;
  padding: 10px;
}

.debug .main-view {
  border: 1px solid cornflowerblue;
  padding: 10px;
}
